html {
  font-size: 10px;
  /*background:url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;*/
}
body,html {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體", sans-serif;
}

.em{
  font-weight: bold;
  font-size: 20px;
}

.recordbar{
  width: 100%;
  text-align: center;
  line-height: 1.7;
  font-size: 14px;
  border-top:4px solid black;
  border-bottom:4px solid black;
}

.recording{
  background-color: #ef2828;
}
.playListPlaying{
  background-color: #42f483;
}

.keys {
  display: -webkit-flex;
  display:flex;
  flex-wrap: wrap;
  flex:1;
  min-height:75vh;
  align-items: center;
  justify-content: center;
}

.key {
  border:4px solid black;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

#metronomeSlider{
  align-self: flex-end;
  margin: 10px;
}
#load{
  margin: 10px;
}

.slider{
  min-width: 200px;
  margin-bottom: 5px;
  text-align: right;
  visibility: hidden;
}
.loadButton{
  margin: 3px;
  border-radius: 10px;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}
